/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .mts_client_portal_backend_panel{
 	background: #fff;
 	padding: 25px;
 	border-radius: 10px;
 	margin-top:15px;
 	border:1px solid #ddd;
 }


 .mts_client_portal_backend_panel .form-field input, select{
 	width:25em;
 }



@media screen and (max-width: 782px){
	.mts_client_portal_backend_panel .form-field input, select{
	 	width:100%;
	 }
}




@media screen and (max-width: 360px){
	.mts_client_portal_backend_panel .form-field input, select{
	 	width:100%;
	 }
}